.content {
    grid-area: content;
    padding: 10px;
    margin: 10px;
}

h1{
    margin: 20px;
}

h2{
    margin: 25px;
}

article{
    margin: 30px;
}

.outlet{
    margin: 10px;
}

.outlet-maps{
    margin: 10px;
}

.outlet-settings{
    margin: 10px;
}

.sub-menu-ul{
    display: flex;
    flex-direction: row;
    align-content: stretch;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    bottom: 0;
    background-color: #663F46;
}

.sub-menu-li {
    flex: 1 1 auto;
    width: 0;
    margin: 0px 2px 2px 0px;
}

.sub-menu-li a {
    display: block;
    color: var(--color-10);
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--color-4);
    background-image: linear-gradient(to bottom right, var(--color-4) 50%, var(--color-4) 50%, var(--color-5));
    background-size: 400%;
    background-position: 0%;
    transition: 0.4s;
}

.sub-menu-li a:hover {
    background-color: var(--color-6);
    background-position: 100% 0%;
}

.sub-menu-li a:active {
    background-color: var(--color-7);
    background-position: 100% 0%;
}

.listing-ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--color-1);
    top: 0;
    bottom: 0;
}

.standard-table {
    border: 2px solid var(--color-2);
    width: 100%;
    table-layout : auto;
    align-items: center;
}

.header-tr{
    vertical-align: middle;
}

.standard-th {
    border-bottom: 1px solid var(--color-8);
}

.standard-td {
    width: 25%;
    text-align: center;
}

.standard-tr{
    vertical-align: middle;

}

.standard-tr:hover{
    vertical-align: middle;
    background-color: var(--color-0);
}

.map{
    width:4197.0px;
    height:2998.0px;
}

.settings{
    
}