/*Used for showing palette*/
.palette{
    color: #C6CAED;
    color: #ADA8BE;
    color: #A28497;
    color: #6F5E5C;
    color: #4A5240;
}

.search {
    grid-area: search;
    background-color: cadetblue;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}