/*Used for showing palette*/
.palette{
    color: #E8F7EE;
    color: #C6CAED;
    color: #ADA8BE;
    color: #A28497;
    color: #6F5E5C;
    color: #4A5240;
}

.info-form {
    display: grid;
    grid-template-columns: 0.20fr 0.80fr;
    grid-template-rows: 0.8fr;
    gap: 4px 4px;
    width: 100%;
    height: 100%;
}

#id, .numberRO, .valueRO, .ROdata,.new-label {
    width: 100%;
    padding: 4px;
}

.valueRO-info-button {
    display: flex;
}

#valueRO-numberplate {
    flex-direction: row;
    width: 55%;
    padding: 4px;
}

#get-info-button {
    flex-direction: row;
    width: 80%;
    padding: 4px;
}

#number, .info-input, #user-password, #user-password2, input, .day-picker-input{
    border-width: 1px;
    border-style: inset;
    height: 19px;
    width: 96%;
    padding: 4px;
    background-color: #ADA8BE;
    /*border-radius: 8px;*/
    transition: 0.4s;
}

.day-picker-input{
    border-width: 1px;
    border-style: inset;
    width: 100%;
    padding: 4px;
    background-color: #ADA8BE;
    border-radius: 8px;
    transition: 0.4s;
}

.info-label{
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
}

.day-picker-input {
    padding: 4px;
    font-size: 16px;
    border: none;
    background: #ffffff;
}

#document-path, .cardoc-data-path{
    padding: 4px;
    font-size: 16px;
    grid-column: 5 / span 2;
}

#submit-button, button, input[type="submit"], input[type="reset"] {
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    background-color: #6F5E5C;
    padding: 4px;
    font-size: 16px;
    border-radius: 8px;
    height:100%;
    width:100%;
    color: white;
    background-image: linear-gradient(to bottom right, #A28497 50%, #A28497 50%, #6F5E5C);
    background-size: 400%;
    background-position: 0;
    transition: 0.4s;
}

#submitbutton:hover, button:hover{
    background-color: #4A5240;
    background-position: 100% 0;
}

.info-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

.info-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

.info-input::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

.error{
    color: #ff0000;
    margin-top: 6px;
    font-weight: bold;
    font-style: italic;
}

.no-error{
    color: #000;
    margin-top: 6px;
}

.error-message{
    grid-column: 2 / span 3;
}

.error-message-pw{
    grid-column: 4 / span 3;
}

.error-message-userid{
    grid-column: 3 / span 4;
}

.success{
    color: #000;
    margin-top: 6px;
}

.success-message{
    grid-column: 4 / span 3;
}

.empty-grid-space-1-front{
    grid-column: 1 / span 1;
}

.empty-grid-space-1-middle{
    grid-column: 3 / span 1;
}

.empty-grid-space-2-middle{
    grid-column: 3 / span 2;
}

.empty-grid-space-3-middle{
    grid-column: 3 / span 3;
}

.empty-grid-space-1-end{
    grid-column: 6 / span 1;
}

.empty-grid-space-2-end{
    grid-column: 5 / span 2;
}

.empty-grid-space-3-end{
    grid-column: 4 / span 3;
}

.empty-grid-space-4-end{
    grid-column: 3 / span 4;
}

.info-input-grid-space-2-middle{
    grid-column-start: 2;
    grid-column-end: 4;
}

.activities-grid {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 8;
}

.parts-grid {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 10;
    grid-row-end: 13;
}

.faults-grid {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 9;
    grid-row-end: 10;
}